@using PortfolioWebAssem.Models;
@using PortfolioWebAssem.Models2;
@using System.Text.RegularExpressions

@inject HttpClient httpClient;

<br />
<div class="d-flex justify-content-center">
	<input @bind="userInputBandName" />
	<button @onclick="searchButton">Search</button>
</div>

<br />
<div id="container1" class="d-flex justify-content-center">
	@* TODO - make a grid instead of list *@
	<ul>
		@foreach (Artist artist in MyArtistList)
		{
			<li>
				<button @onclick="() => selectArtistButton(artist)">Choose</button>
				<div class ="d-inline" style="@styleForArtistList(artist.IsSelected)">@artist.Name</div>
			</li>
			<br>
		}
	</ul>
</div>


@code {
	[Parameter]
	public List<Artist> MyArtistList { get; set; } = new();


	[Parameter]
	public EventCallback<List<SongDetails>> setSongs { get; set; }

	private Artist selectedArtist = new();

	private string userInputBandName = "";


	private async Task<ArtistResponse> fetch10PossibleArtists(string artistName)
	{
		//MUSICBRAINZ FETCH - gives a list of 10 possible artists that match the given artistName for the user to choose one
		try
		{
			var httpRequestMessage = new HttpRequestMessage(HttpMethod.Get, $"http://musicbrainz.org/ws/2/artist/?query={artistName}&fmt=json");
			var response = await httpClient.SendAsync(httpRequestMessage);
			var returnObject = await response.Content.ReadFromJsonAsync<ArtistResponse>();

			MyArtistList = returnObject.Artists.Take(10).ToList();
			// artistList.DistinctBy((a) => a.Name);
			return returnObject;
		} catch (Exception e)
		{
			Console.WriteLine($"Could not find artist {artistName}");
			return new();
		}
	}

	private async Task searchButton()
	{
		MyArtistList.Clear();
		await fetch10PossibleArtists(userInputBandName);
	}

	private async Task selectArtistButton(Artist artist)
	{	
		//reset
		selectedArtist.IsSelected = false;
		selectedArtist = artist;
		selectedArtist.IsSelected = true;

		//first get id of artist
		GeniusAPIClient myClient = new();
		string artistId = await myClient.GetArtistId(artist.Name);
		Console.WriteLine($"ArtistID: {artistId}");

		//use that id to retrieve list of 20 songs
		List<string> songList = await myClient.GetSongTitles(artistId);
		foreach (string songTitle in songList)
		{
			Console.WriteLine(songTitle);
		}

		List<string> lyricSnippet = new();
		List<SongDetails> songInfos = new();
		//ID was wrong because I was using lyricSnippet.Count() - always 10. - replaced with int count below
		int count = 0;
		foreach(string songTitle in songList)
		{
			// Console.WriteLine($"{artist.Name}, {songTitle}");
			lyricSnippet = await LyricsAPIClient.FetchLyricsAsync(myClient.NewArtistName, songTitle);
			if (lyricSnippet.Count == 10) {
				SongDetails thisSongInfo = new(count, songTitle, lyricSnippet);
				songInfos.Add(thisSongInfo);
			}
			if (songInfos.Count == 10)
			{
				await setSongs.InvokeAsync(songInfos);
				return;
			}
			count++;
		}

		// return await getLyricSnippetAL(songList.FirstOrDefault());


	}
	


	

	private string styleForArtistList(bool isSelected)
	{	
		if (isSelected)
		{
			return "color:red";
		}
		return "color:black";
	}

}
